@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

:root {
    --lexend: "Lexend Deca", serif;
    --shoulders: "Big Shoulders Display", serif;


    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /* paragraphs */
    --very-light-gray: hsl(0, 0%, 95%);
    /* (background, headings, buttons) */

}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--very-light-gray);
    font-size: 15px;
    padding: 0px 10px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 300px 0px;
}

/* ---------------- */

.item {
    
    
    max-width: 300px;
    padding: 50px;
    background-color: antiquewhite;
    color: var(--transparent-white);

}

.item-1 {
    background-color: var(--bright-orange);
    border-radius: 10px 10px 0px 0px;
}

.item-2 {
    background-color: var(--dark-cyan);

}

.item-3 {
    background-color: var(--very-dark-cyan);
    border-radius: 0px 0px 10px 10px;

}



.button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--very-light-gray);
    padding: 12px;
    width: 120px;
    text-align: center;
    border-radius: 30px;
    font-family: var(--lexend);
    transition: 0.6s ease-in-out;
 
}
.button:hover {
    background-color: transparent;
    color: white;
    border: 0.3px solid white;
    box-sizing: border-box  ;

}


.b1 {
    color: var(--bright-orange);
}
.b2 {
    color: var(--dark-cyan);
}
.b3 {
    color: var(--very-dark-cyan);
}

.item h1 {
    margin-top: 10px;
    font-family: var(--shoulders);
    text-transform: uppercase;
}

.item p {
    font-family: var(--lexend);
    line-height: 24px;
}
footer {

}