@charset "UTF-8";


body {
    font-size: 2em;
    padding: 30px;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

menu {
    display: none;
}


section::after {
    content: "Esse artigo foi publicado no dia 13/02/2004.";
}