@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Sriracha", cursive;
    --fonte3: "Passion One", sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh
        /* O tamanho da viewport vai ser de 100% */
    ;
    background-color: #bdbdbd;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px 0px;
}

header>h1 {
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 10vw;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}
section {
    padding: 10vh 0vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 5vw;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(48, 48, 48);
    color: white;
}
.imagem > p {
    background-color: black;
   max-width: 350px;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}